body {
  color: white;
  background: #6faeeb;
}

body.index {
  background: #36968e;
}

body .parallax {
  display: none;
}

.nav {
  margin-top: 10px;
}

body.index .parallax {
  display: block;
  z-index: -1;
  position: absolute;
  height: 900px;
  width: 100%;
  background: #ade9fe url(/assets/site/sky.png) repeat-x;
  max-width: 100%;
  overflow: hidden;
}

body.index .parallax img {
  position: absolute;
}


body.index .parallax .sea {
  width: 100%;
  height: 296px;
  position: absolute;
  background: #ade9fe url(/assets/site/sea.png) repeat-x;
}

body.index .parallax .seafloor {
  width: 120%;
  height: 296px;
  position: absolute;
  background: url(/assets/site/seafloor.png) repeat-x 157px top;
}



footer {
  color: #ddd;
  background: #111;
  margin-top: 50px;
  padding: 25px;
}

.jumbotron {
  background: transparent;
  color: #333;
  height: 466px;
}

.jumbotron img.logo {
  width: 40%;
  margin: 0 auto;
}

img.logo {
  width: 80%;
}

.post a, body.rules ul a, body.rules p a {
  text-decoration: underline;
}

a {
  color: white;
}

.text-muted, .help-block {
  color: #eee;
}

.screenshots {
  position: relative;
}

canvas.focus {
  outline: none;
}

.caption {
  position: absolute;
  padding: 100px 150px;
  font-size: 2em;
  opacity: 0.75;
}

