<h3>Share Card Pirates with others!</h3>
<table class='social' border='0'><tr>
    <td>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cardpirates.com" data-text="Card Pirates: a deep thematic card game playable with just a pack of playing cards and counters" data-via="chrismdp">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </td>
    <td>
      <div class="fb-like" data-href="http://cardpirates.com" data-width="400" data-show-faces="true" data-send="true" style='margin-top: 4px'></div>
    </td>
</tr></table>
