<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="http://cardpirates.com/atom.xml" rel="alternate" title="Card Pirates" type="application/atom+xml" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-431118-18']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

      </head>
      <body>
<!-- AddThis Welcome BEGIN -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f030fe43425b51c"></script>
<script type='text/javascript'>
addthis.bar.initialize({'default':{
	"backgroundColor": "#000000",
	"buttonColor": "#098DF4",
	"textColor": "#FFFFFF",
	"buttonTextColor": "#FFFFFF"
},rules:[
	{
		"name": "AnyOther",
		"message": "Psst: if you like this, do us a favour:",
		"action": {
			"type": "button",
			"text": "Share it",
			"verb": "share",
			"service": "preferred"
		}
	},
	{
		"name": "Twitter",
		"match": {
			"referringService": "twitter"
		},
		"message": "Psst: if you like this, do us a favour:",
		"action": {
			"type": "button",
			"text": "Tweet it!",
			"verb": "share",
			"service": "twitter"
		}
	},
	{
		"name": "Facebook",
		"match": {
			"referringService": "facebook"
		},
		"message": "Psst: tell your friends about us:",
		"action": {
			"type": "button",
			"text": "Share on Facebook",
			"verb": "share",
			"service": "facebook"
		}
	},
	{
		"name": "Google",
		"match": {
			"referrer": "google.com"
		},
		"message": "If you like this page, let Google know:",
		"action": {
			"type": "button",
			"text": "+1",
			"verb": "share",
			"service": "google_plusone_share"
		}
	}
]});
</script>
<!-- AddThis Welcome END -->
        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">Card Pirates</a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/rules">rules</a>
              <a class="extra" href="/blog">blog</a>
              <a class="extra" href="/stories">your stories</a>
            </div>
            {% include social.html %}

            <div class='content'>
              {{ content }}
            </div>

            <div class="footer">
              <div class="contact">
                <p>
                  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="/assets/cc-license.png" /></a>
                  <br/>
                  <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Card Pirates</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://chrismdp.com" property="cc:attributionName" rel="cc:attributionURL">Chris Parsons</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://cardpirates.com" rel="dct:source">http://cardpirates.com</a>.
                </p>
                <p>
                  Ship icons by <a href='http://icons.mysitemyway.com/gallery/post/matte-white-square-icons-transport-travel/'>Icons etc.</a>
                </p>
                <p>
                  <a href="https://plus.google.com/113378686356267914598" rel="publisher">Google+</a>
                </p>
                <p>
                  <a href="http://twitter.com/chrismdp/">twitter.com/chrismdp</a><br />
                  <a href="http://chrismdp.com/">chrismdp.com</a><br />
                  Email me: <a href="mailto:chris@thinkcodelearn.com">chris@thinkcodelearn.com</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
      </body>
    </html>
